<a href="https://colab.research.google.com/github/kashif-1310/test1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel('/content/question_1.xlsx')

In [5]:
df .head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
df .describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [7]:
df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [8]:
df .tail(50)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
950,male,group E,high school,standard,none,94,73,71
951,female,group D,some college,standard,completed,75,77,83
952,female,group E,some high school,free/reduced,none,74,74,72
953,male,group C,high school,standard,completed,58,52,54
954,female,group C,some college,standard,none,62,69,69
955,male,group E,associate's degree,standard,none,72,57,62
956,male,group C,some college,standard,none,84,87,81
957,female,group D,master's degree,standard,none,92,100,100
958,female,group D,high school,standard,none,45,63,59
959,male,group C,high school,standard,none,75,81,71
960,female,group A,some college,standard,none,56,58,64
961,female,group D,some high school,free/reduced,none,48,54,53
962,female,group E,associate's degree,standard,none,100,100,100
963,female,group C,some high school,free/reduced,completed,65,76,75
964,male,group D,some college,standard,none,72,57,58
965,female,group D,some college,standard,none,62,70,72
966,male,group A,some high school,standard,completed,66,68,64
967,male,group C,some college,standard,none,63,63,60
968,female,group E,associate's degree,standard,none,68,76,67
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
971,male,group C,some high school,standard,completed,78,72,69
972,female,group A,high school,free/reduced,completed,53,50,60
973,female,group D,some college,free/reduced,none,49,65,61
974,female,group A,some college,standard,none,54,63,67
975,female,group C,some college,standard,completed,64,82,77
976,male,group B,some college,free/reduced,completed,60,62,60
977,male,group C,associate's degree,standard,none,62,65,58
978,male,group D,high school,standard,completed,55,41,48
979,female,group C,associate's degree,standard,none,91,95,94
980,female,group B,high school,free/reduced,none,8,24,23
981,male,group D,some high school,standard,none,81,78,78
982,male,group B,some high school,standard,completed,79,85,86
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
985,male,group A,high school,standard,none,57,51,54
986,female,group C,associate's degree,standard,none,40,59,51
987,male,group E,some high school,standard,completed,81,75,76
988,female,group A,some high school,free/reduced,none,44,45,45
989,female,group D,some college,free/reduced,completed,67,86,83
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86